.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history

.DS_Store

# Some data
data-raw/vancouver_public/
data-raw/BTM_PRESENT_LAND_USE_V1_SVW.zip

# Temporary files made by Nick's Rmd script
ROUT/*
spatial_resolution_cache/
spatial_resolution_files/
figure/
cache/
figs_for_paper/
spatial_resolution.RData
spatial_resolution2.RData
nohup.out
large_iteration_test.Rout
large_iteration_test.RData


__MACOSX/
.ipynb_checkpoints/
